'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Symbols'
      'submenu': [
        { 'label': 'File Symbols', 'command': 'symbols-view:toggle-file-symbols' }
      ]
    ]
  }
]

'context-menu':
  '.overlayer':
    'Go to Declaration': 'symbols-view:go-to-declaration',
    'Rebuild ctags': 'symbols-view:rebuild'
