'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Symbols'
      'submenu': [
        { 'label': 'File Symbols', 'command': 'atom-ctags:toggle-file-symbols' }
      ]
    ]
  }
]

'context-menu':
  '.overlayer':
    'Go to Declaration': 'atom-ctags:go-to-declaration',
    'Rebuild ctags': 'atom-ctags:rebuild'
