'.platform-darwin .editor':
  'cmd-r': 'symbols-view:toggle-file-symbols'
  'cmd-alt-down': 'symbols-view:go-to-declaration'

'.platform-win32 .editor':
  'ctrl-r': 'symbols-view:toggle-file-symbols'
  'ctrl-alt-down': 'symbols-view:go-to-declaration'

'.platform-darwin':
  'cmd-R': 'symbols-view:toggle-project-symbols'

'.platform-win32':
  'ctrl-R': 'symbols-view:toggle-project-symbols'
